@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

.sidebar-dark {
  --cui-body-color: rgba(255, 255, 255, 0.87);
  --cui-body-bg: #212631;
  --cui-emphasis-color: #fff;
  --cui-secondary-color: #ffffff;
  --cui-secondary-bg: #ffffff;
  --cui-tertiary-color: #ffffff;
  --cui-tertiary-bg: #9F8054;
  --cui-border-color: #000000 !important;
  /* border: none !important; */
}

body {
  background-color: #f7f7f7 !important;
}